body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 20px auto;
}

.icon {
  width: 46px;
  height: 46px;
  vertical-align: middle;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  width: 200px;
}

.location-input {
  margin-bottom: 20px;
}

.location-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.location-input input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#city,
#country {
  padding: 5px;
  font-size: 16px;
  margin: 5px;
}

#fetch-times {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#fetch-times:hover {
  background-color: #0056b3;
}

#prayer-times {
  margin-top: 20px;
}

#prayer-times p {
  font-size: 18px;
  margin: 5px 0;
}

.prayer-time {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.prayer-time:last-child {
  border-bottom: none;
}

.time {
  font-weight: bold;
  color: #007bff;
}

.label {
  color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .location-input input {
    font-size: 14px;
    padding: 8px;
  }

  #fetch-times {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 6px;
  }

  .prayer-time {
    font-size: 16px;
    padding: 8px;
  }

  #prayer-times p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  .location-input input {
    font-size: 12px;
    padding: 6px;
  }

  #fetch-times {
    font-size: 12px;
    padding: 6px 12px;
  }

  .prayer-time {
    font-size: 14px;
    padding: 6px;
  }

  #prayer-times p {
    font-size: 14px;
  }
}
